[submodule "ecolab"]
	path = ecolab
	url = https://github.com/highperformancecoder/ecolab.git
[submodule "certify"]
	path = certify
	url = https://github.com/djarek/certify
[submodule "RavelCAPI"]
	path = RavelCAPI
	url = git@github.com:highperformancecoder/RavelCAPI.git
