*.o
*.d
*.cd
*.exe
*.xcd
*.rcd
*.tcd
*~
*.aux
*.dvi
*.log
!test/exampleLogs/*.log
*.out
*.xls
*.docx
*.pptx
*.*;*
*converted*
*.lyx
*#
doc/html/*
doc/html.*
.vscode
doxydoc
test/unittests
test/tcl-cov
test/testDatabase
test/testGroup
test/testLatexToPango
test/checkSchemasAreSame
test/cmpFp
gui-tk/minsky
gui-tk/library/tcl
gui-tk/library/tk
RESTService/minsky-RESTService
RESTService/minsky-httpd
node_modules/*
gui-js/node_modules/*
gui-js/documentation/*
gui-js/dist/*
gui-js/.nx/*
gui-js/.angular/*
doc/minsky/*
