[submodule "ecolab"]
	path = ecolab
	url = https://github.com/highperformancecoder/ecolab.git
[submodule "certify"]
	path = certify
	url = https://github.com/djarek/certify
[submodule "exprtk"]
	path = exprtk
	url = https://github.com/ArashPartow/exprtk.git
