[submodule "ecolab"]
	path = ecolab
	url = https://github.com/highperformancecoder/ecolab.git
[submodule "exprtk"]
	path = exprtk
	url = https://github.com/arashpartow/exprtk.git
	branch = release
[submodule "RavelCAPI"]
	path = RavelCAPI
	url = https://github.com/highperformancecoder/RavelCAPI.git
