[Desktop Entry]
Name=Minsky
Exec=minsky %f
Terminal=false
Type=Application
Icon=au.com.hpcoders.Minsky
StartupWMClass=minsky
Comment=Graphical dynamical systems simulator oriented towards economics
Categories=Science;
