<div *ngIf="loading" class="spinner">
  <mat-spinner color="#ffa600" mode="indeterminate"></mat-spinner>
</div>

<ng-container *ngIf="!loading">
  <ng-container *ngIf="router.url.includes('headless');">
    <router-outlet></router-outlet>
  </ng-container>
  <ng-container *ngIf="!router.url.includes('headless');">
    <minsky-header></minsky-header>
    <div class="tabs-section">
      <div class="tabs example-button-row">
        <button (click)="changeTab(MainRenderingTabs.canvas)" class="wiring" mat-raised-button>
          Wiring
        </button>
        <button (click)="changeTab(MainRenderingTabs.equations)" class="equations" mat-raised-button>
          Equations
        </button>
        <button (click)="changeTab(MainRenderingTabs.summary)" class="summary" mat-raised-button>
          Summary
        </button>
        <button (click)="changeTab(MainRenderingTabs.plot)" class="plot" mat-raised-button>
          Plots
        </button>
        <button (click)="changeTab(MainRenderingTabs.godley)" class="godley" mat-raised-button>
          Godleys
        </button>

        <span class="spacer"></span>

        <button class="variables minsky-service" mat-raised-button (click)="startTerminal()">
          Terminal
        </button>
      </div>
    <router-outlet></router-outlet>
  </div>
  </ng-container>
</ng-container>
